name: Release

on:
  # TODO re-enable once project is set up properly if you have bins to publish, otherwise remove the workflow
  #release:
  #  types: [created]
  workflow_dispatch:

jobs:
  build-release-files:
    name: Build release files for ${{ matrix.arch }}-${{ matrix.platform }} with Rust ${{ matrix.toolchain }}
    if: github.repository_owner == 'clechasseur' # Don't build on forks
    strategy:
      matrix:
        toolchain: [ stable ]
        arch: [ aarch64, x86_64 ]
        platform: [ unknown-linux-gnu, unknown-linux-musl, unknown-freebsd, apple-darwin, pc-windows-msvc ]
        include:
          - os: ubuntu-latest
          - platform: apple-darwin
            os: macos-latest
          - platform: pc-windows-msvc
            os: windows-latest
          - crt-static: false
          - link-self-contained: false
          - platform: pc-windows-msvc
            crt-static: true
          - platform: unknown-linux-musl
            crt-static: true
            link-self-contained: true
        exclude:
          - arch: aarch64
            platform: unknown-freebsd
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install Rust ${{ matrix.toolchain }}
        uses: actions-rust-lang/setup-rust-toolchain@11df97af8e8102fd60b60a77dfbf58d40cd843b8 # v1.10.1
        with:
          toolchain: ${{ matrix.toolchain }}
          cache: false

      - name: Setup cross-compilation tools
        uses: taiki-e/setup-cross-toolchain-action@92417c3484017b78b44195de2e0026e080f1e001 # v1.24.0
        with:
          target: ${{ matrix.arch }}-${{ matrix.platform }}

      - name: Set flag to link crt-static
        run: echo "RUSTFLAGS=${RUSTFLAGS} -C target-feature=+crt-static" >> ${GITHUB_ENV}
        if: ${{ matrix.crt-static }}

      - name: Set flag to link self-contained
        run: echo "RUSTFLAGS=${RUSTFLAGS} -C link-self-contained=yes" >> ${GITHUB_ENV}
        if: ${{ matrix.link-self-contained }}

      - name: Build binaries and upload to GitHub release
        uses: taiki-e/upload-rust-binary-action@4398438f25ce68e99e82e90744c88604b9b218a3 # v1.23.0
        with:
          bin: YOUR-BINS-HERE # TODO replace this with a comma-separated list of bins to publish
          token: ${{ secrets.GITHUB_TOKEN }}
          archive: $bin-$target-$tag # TODO if you have mulitiple bins, replace $bin here
          target: ${{ matrix.arch }}-${{ matrix.platform }}
          include: LICENSE,README.md
          leading-dir: true
